// ======================================
//  Variables
// ======================================

// ------------Colors--------------------
$color-white                :#fff;
$color-offwhite             :#FBFBFB;
$color-black                :#000;
$color-gray                 :#E2E2E2; 

$color-primary              :#3282B8;
$color-secondary            :#BBE1FA;
$color-tertiary             :#5D61BF;

// -----------Fonts----------------------
$font-primary               :'Poppins', sans-serif;


//-----------Breakpoints-----------------
$breakpoints: (
    "mobileS"               : 320px,
    "mobileM"               : 375px,
    "mobileL"               : 425px,
    "tablet"                : 768px,
    "laptop"                : 1024px,
    "desktop"               : 1440px,
); 
