/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
  box-sizing: border-box;
}

main {
    padding-left: 20px;
    padding-right: 20px;
}
  
  